body {
    background-color: rgb(208, 209, 198);
}

.text1 {
    float: left;
    background-color: rgba(244, 236, 216, 0.612);
    height: 150x;
    width: 500px;
    padding: 20px;
    margin-left: 80px;
    border: 8px solid rgb(29, 60, 37);
    border-radius: 10px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

img {
    float: left;
    position: relative;
    margin-left: 100px;
    margin-top: 13px;
    margin-bottom: 30px;
    border-radius: 7%;
    margin-top: 50px;
}

.text2 {
    background-color: rgba(244, 236, 216, 0.612);
    height: 190px;
    width: 500px;
    position: absolute;
    margin-top: 340px;
    margin-left: 80px;
    padding: 20px;
    border: 8px solid rgb(29, 60, 37);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-style: italic;
    text-shadow: 2%;
    text-align: center;
    padding-top: 10px;
    color: rgb(29, 60, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}