body {
    background-image: url("texture.jpeg");
    background-position: center;
    background-size: cover;
    
}

p, h1 {
    text-align: center;
    color: whitesmoke;
    margin-top: 110px;
}